@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;

}

.cuaca-app {
    background: #022d45;
    height: 100dvh;
    color: black;
}

.title {
    color: #6596ff;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 20px;
}
.input-wilayah {
    margin: 0 auto;
    border: 1px solid rgba(129, 128, 128, 0.529); 
    width: 80%;
    border-radius: 10px;
    height: 30%;
}
.input-kabupaten, .input-kecamatan,.input-desa {
    margin: 10px auto;
    width: 80%;
}

.input-title {
    font-size: 0.9rem;
    color: #666a67;
    font-weight: 600;
}
.input-kabupaten #kabupaten ,.input-kecamatan #kecamatan, .input-desa #desa {
    width: 100%;
    color: #bcbdbf;
    padding: 5px;
    border: 1px solid rgba(129, 128, 128, 0.529);
    background: #022d45;
    outline: none;
}

.card-cuaca {
    border-radius: 10px;
    background: url('./assets/cloudy.jpg');
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    width: 300px;
    transform: translateY(0px);
    opacity: 0;
    padding: 10px;
    transition: opacity .8s ease-in,transform 1s ease-in;
}

.card-cuaca.display {
    opacity: 1;
    transform: translateY(-10px);
}

.desc-lokasi {
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desa, .waktu , .desc-suhu, .kondisi {
    color: white;
    text-shadow: 0px 0px 5px black;
}
.desc-lokasi .desa {
    flex: 1;
    font-weight: bold;
}

.desc-lokasi .waktu {
    font-weight: 500;
}

.panel-body {
    text-align: center;
    width: 50%;
    margin: 10px auto;
}

.desc-suhu {
    font-size: 3rem;
    font-weight: bold;
}

.kondisi  {
    font-weight: 600;
}

.panel-footer {
    color: rgba(255, 252, 252, 0.992);
    border: 1.2px solid rgb(223, 221, 221);
    width: 90%;
    backdrop-filter: blur(0.7px);
    border-radius: 10px;
    margin: 10px auto;
    background-color: rgba(76, 76, 76, 0.663);
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
}

.statistik {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    font-size: .8rem;
    border-bottom: 1.2px solid rgb(227, 227, 227);
    line-height: 1.4rem;
    width: 85%;
}

.statistik .label {
    color: rgba(255, 255, 255, 0.953);
    font-weight: 600;
    font-size: 0.8rem;
}

.statistik .value {
    font-size: 0.6rem;
}

.perkiraan {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px 0;
}

.perkiraan li {
    line-height: 15px;
    text-align: center;
}

.p-waktu {
    color: #bcbdbf;
    font-weight: 600;
    font-size: 0.8rem;
}


.p-suhu {
    font-size: 0.9rem;
    font-weight: bold;
}

.source a {
    font-size: 0.9rem;
    color:#9090f7;
    font-weight: 600;;
    text-decoration: none;
}

